In [2]:
import numpy as np 
import pandas as pd

In [3]:
np.version.version

'1.23.4'

In [4]:
pd.__version__

'1.5.1'

In [ ]:
df = pd.read_csv('pokedex_(Update_05.20).csv', index_col=0)

In [ ]:
df

In [ ]:
col_names = [
    'pokedex_number',
    'name',
    'generation',
    'status',
    'type_number',
    'type_1',
    'type_2',
    'height_m',
    'weight_kg',
    'abilities_number',
    'ability_1',
    'ability_2',
    'ability_hidden',
    'total_points',
    'hp',
    'attack',
    'defense',
    'sp_attack',
    'sp_defense',
    'speed',
    'catch_rate',
    'base_experience',
    'grow_rate',
    'percentage_male'
]

In [20]:
filtered_pokemon_data = pd.DataFrame(df, columns=col_names)
filtered_pokemon_data.to_csv('filtered_pokemon_data.csv', index=False)

In [21]:
df = pd.read_csv('filtered_pokemon_data.csv')
df

,pokedex_number,name,generation,status,type_number,type_1,type_2,height_m,weight_kg,abilities_number,...,hp,attack,defense,sp_attack,sp_defense,speed,catch_rate,base_experience,grow_rate,percentage_male
0,1,Bulbasaur,1,Normal,2,Grass,Poison,0.7,6.9,2,...,45.0,49.0,49.0,65.0,65.0,45.0,45.0,64.0,NaN,87.5
1,2,Ivysaur,1,Normal,2,Grass,Poison,1.0,13.0,2,...,60.0,62.0,63.0,80.0,80.0,60.0,45.0,142.0,NaN,87.5
2,3,Venusaur,1,Normal,2,Grass,Poison,2.0,100.0,2,...,80.0,82.0,83.0,100.0,100.0,80.0,45.0,236.0,NaN,87.5
3,3,Mega Venusaur,1,Normal,2,Grass,Poison,2.4,155.5,1,...,80.0,100.0,123.0,122.0,120.0,80.0,45.0,281.0,NaN,87.5
4,4,Charmander,1,Normal,1,Fire,NaN,0.6,8.5,2,...,39.0,52.0,43.0,60.0,50.0,65.0,45.0,62.0,NaN,87.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1023,888,Zacian Hero of Many Battles,8,Legendary,1,Fairy,NaN,2.8,110.0,1,...,92.0,130.0,115.0,80.0,115.0,138.0,NaN,NaN,NaN,NaN
1024,889,Zamazenta Crowned Shield,8,Legendary,2,Fighting,Steel,2.9,785.0,1,...,92.0,130.0,145.0,80.0,145.0,128.0,NaN,NaN,NaN,NaN
1025,889,Zamazenta Hero of Many Battles,8,Legendary,1,Fighting,NaN,2.9,210.0,1,...,92.0,130.0,115.0,80.0,115.0,138.0,NaN,NaN,NaN,NaN
1026,890,Eternatus,8,Legendary,2,Poison,Dragon,20.0,950.0,1,...,140.0,85.0,95.0,145.0,95.0,130.0,NaN,NaN,NaN,NaN
1027,890,Eternatus Eternamax,8,Legendary,2,Poison,Dragon,100.0,NaN,0,...,255.0,115.0,250.0,125.0,250.0,130.0,NaN,NaN,NaN,NaN

In [22]:
df

,pokedex_number,name,generation,status,type_number,type_1,type_2,height_m,weight_kg,abilities_number,...,hp,attack,defense,sp_attack,sp_defense,speed,catch_rate,base_experience,grow_rate,percentage_male
0,1,Bulbasaur,1,Normal,2,Grass,Poison,0.7,6.9,2,...,45.0,49.0,49.0,65.0,65.0,45.0,45.0,64.0,NaN,87.5
1,2,Ivysaur,1,Normal,2,Grass,Poison,1.0,13.0,2,...,60.0,62.0,63.0,80.0,80.0,60.0,45.0,142.0,NaN,87.5
2,3,Venusaur,1,Normal,2,Grass,Poison,2.0,100.0,2,...,80.0,82.0,83.0,100.0,100.0,80.0,45.0,236.0,NaN,87.5
3,3,Mega Venusaur,1,Normal,2,Grass,Poison,2.4,155.5,1,...,80.0,100.0,123.0,122.0,120.0,80.0,45.0,281.0,NaN,87.5
4,4,Charmander,1,Normal,1,Fire,NaN,0.6,8.5,2,...,39.0,52.0,43.0,60.0,50.0,65.0,45.0,62.0,NaN,87.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1023,888,Zacian Hero of Many Battles,8,Legendary,1,Fairy,NaN,2.8,110.0,1,...,92.0,130.0,115.0,80.0,115.0,138.0,NaN,NaN,NaN,NaN
1024,889,Zamazenta Crowned Shield,8,Legendary,2,Fighting,Steel,2.9,785.0,1,...,92.0,130.0,145.0,80.0,145.0,128.0,NaN,NaN,NaN,NaN
1025,889,Zamazenta Hero of Many Battles,8,Legendary,1,Fighting,NaN,2.9,210.0,1,...,92.0,130.0,115.0,80.0,115.0,138.0,NaN,NaN,NaN,NaN
1026,890,Eternatus,8,Legendary,2,Poison,Dragon,20.0,950.0,1,...,140.0,85.0,95.0,145.0,95.0,130.0,NaN,NaN,NaN,NaN
1027,890,Eternatus Eternamax,8,Legendary,2,Poison,Dragon,100.0,NaN,0,...,255.0,115.0,250.0,125.0,250.0,130.0,NaN,NaN,NaN,NaN

In [13]:
scraped_data = pd.DataFrame(df, columns=col_names)
scraped_data.to_csv('scraped_data', index=False)

In [14]:
df = pd.read_csv('scraped_data')
df

,pokedex_number,name,generation,status,type_number,type_1,type_2,height_m,weight_kg,abilities_number,...,hp,attack,defense,sp_attack,sp_defense,speed,catch_rate,base_experience,grow_rate,percentage_male
0,1,Bulbasaur,1,Normal,2,Grass,Poison,0.7,6.9,2,...,45.0,49.0,49.0,65.0,65.0,45.0,45.0,64.0,NaN,87.5
1,2,Ivysaur,1,Normal,2,Grass,Poison,1.0,13.0,2,...,60.0,62.0,63.0,80.0,80.0,60.0,45.0,142.0,NaN,87.5
2,3,Venusaur,1,Normal,2,Grass,Poison,2.0,100.0,2,...,80.0,82.0,83.0,100.0,100.0,80.0,45.0,236.0,NaN,87.5
3,3,Mega Venusaur,1,Normal,2,Grass,Poison,2.4,155.5,1,...,80.0,100.0,123.0,122.0,120.0,80.0,45.0,281.0,NaN,87.5
4,4,Charmander,1,Normal,1,Fire,NaN,0.6,8.5,2,...,39.0,52.0,43.0,60.0,50.0,65.0,45.0,62.0,NaN,87.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1023,888,Zacian Hero of Many Battles,8,Legendary,1,Fairy,NaN,2.8,110.0,1,...,92.0,130.0,115.0,80.0,115.0,138.0,NaN,NaN,NaN,NaN
1024,889,Zamazenta Crowned Shield,8,Legendary,2,Fighting,Steel,2.9,785.0,1,...,92.0,130.0,145.0,80.0,145.0,128.0,NaN,NaN,NaN,NaN
1025,889,Zamazenta Hero of Many Battles,8,Legendary,1,Fighting,NaN,2.9,210.0,1,...,92.0,130.0,115.0,80.0,115.0,138.0,NaN,NaN,NaN,NaN
1026,890,Eternatus,8,Legendary,2,Poison,Dragon,20.0,950.0,1,...,140.0,85.0,95.0,145.0,95.0,130.0,NaN,NaN,NaN,NaN
1027,890,Eternatus Eternamax,8,Legendary,2,Poison,Dragon,100.0,NaN,0,...,255.0,115.0,250.0,125.0,250.0,130.0,NaN,NaN,NaN,NaN

In [15]:
df

,pokedex_number,name,generation,status,type_number,type_1,type_2,height_m,weight_kg,abilities_number,...,hp,attack,defense,sp_attack,sp_defense,speed,catch_rate,base_experience,grow_rate,percentage_male
0,1,Bulbasaur,1,Normal,2,Grass,Poison,0.7,6.9,2,...,45.0,49.0,49.0,65.0,65.0,45.0,45.0,64.0,NaN,87.5
1,2,Ivysaur,1,Normal,2,Grass,Poison,1.0,13.0,2,...,60.0,62.0,63.0,80.0,80.0,60.0,45.0,142.0,NaN,87.5
2,3,Venusaur,1,Normal,2,Grass,Poison,2.0,100.0,2,...,80.0,82.0,83.0,100.0,100.0,80.0,45.0,236.0,NaN,87.5
3,3,Mega Venusaur,1,Normal,2,Grass,Poison,2.4,155.5,1,...,80.0,100.0,123.0,122.0,120.0,80.0,45.0,281.0,NaN,87.5
4,4,Charmander,1,Normal,1,Fire,NaN,0.6,8.5,2,...,39.0,52.0,43.0,60.0,50.0,65.0,45.0,62.0,NaN,87.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1023,888,Zacian Hero of Many Battles,8,Legendary,1,Fairy,NaN,2.8,110.0,1,...,92.0,130.0,115.0,80.0,115.0,138.0,NaN,NaN,NaN,NaN
1024,889,Zamazenta Crowned Shield,8,Legendary,2,Fighting,Steel,2.9,785.0,1,...,92.0,130.0,145.0,80.0,145.0,128.0,NaN,NaN,NaN,NaN
1025,889,Zamazenta Hero of Many Battles,8,Legendary,1,Fighting,NaN,2.9,210.0,1,...,92.0,130.0,115.0,80.0,115.0,138.0,NaN,NaN,NaN,NaN
1026,890,Eternatus,8,Legendary,2,Poison,Dragon,20.0,950.0,1,...,140.0,85.0,95.0,145.0,95.0,130.0,NaN,NaN,NaN,NaN
1027,890,Eternatus Eternamax,8,Legendary,2,Poison,Dragon,100.0,NaN,0,...,255.0,115.0,250.0,125.0,250.0,130.0,NaN,NaN,NaN,NaN

In [6]:
df

,pokedex_number,name,german_name,japanese_name,generation,status,species,type_number,type_1,type_2,...,against_ground,against_flying,against_psychic,against_bug,against_rock,against_ghost,against_dragon,against_dark,against_steel,against_fairy
0,1,Bulbasaur,Bisasam,フシギダネ (Fushigidane),1,Normal,Seed Pokémon,2,Grass,Poison,...,1.0,2.0,2.0,1.00,1.00,1.0,1.0,1.0,1.0,0.5
1,2,Ivysaur,Bisaknosp,フシギソウ (Fushigisou),1,Normal,Seed Pokémon,2,Grass,Poison,...,1.0,2.0,2.0,1.00,1.00,1.0,1.0,1.0,1.0,0.5
2,3,Venusaur,Bisaflor,フシギバナ (Fushigibana),1,Normal,Seed Pokémon,2,Grass,Poison,...,1.0,2.0,2.0,1.00,1.00,1.0,1.0,1.0,1.0,0.5
3,3,Mega Venusaur,Bisaflor,フシギバナ (Fushigibana),1,Normal,Seed Pokémon,2,Grass,Poison,...,1.0,2.0,2.0,1.00,1.00,1.0,1.0,1.0,1.0,0.5
4,4,Charmander,Glumanda,ヒトカゲ (Hitokage),1,Normal,Lizard Pokémon,1,Fire,NaN,...,2.0,1.0,1.0,0.50,2.00,1.0,1.0,1.0,0.5,0.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1023,888,Zacian Hero of Many Battles,NaN,NaN,8,Legendary,Warrior Pokémon,1,Fairy,NaN,...,1.0,1.0,1.0,0.50,1.00,1.0,0.0,0.5,2.0,1.0
1024,889,Zamazenta Crowned Shield,NaN,NaN,8,Legendary,Warrior Pokémon,2,Fighting,Steel,...,2.0,1.0,1.0,0.25,0.25,1.0,0.5,0.5,0.5,1.0
1025,889,Zamazenta Hero of Many Battles,NaN,NaN,8,Legendary,Warrior Pokémon,1,Fighting,NaN,...,1.0,2.0,2.0,0.50,0.50,1.0,1.0,0.5,1.0,2.0
1026,890,Eternatus,NaN,NaN,8,Legendary,Gigantic Pokémon,2,Poison,Dragon,...,2.0,1.0,2.0,0.50,1.00,1.0,2.0,1.0,1.0,1.0
1027,890,Eternatus Eternamax,NaN,NaN,8,Legendary,Gigantic Pokémon,2,Poison,Dragon,...,2.0,1.0,2.0,0.50,1.00,1.0,2.0,1.0,1.0,1.0